@model Northwnd.Entities.Cart
@{
    ViewBag.Title = "Index";
}
<h2>Products In the Cart</h2>
<div class="container">
    <div class="row">     
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Product Name</td>
                    <td>Unit Price</td>
                    <td>Quantity</td>
                    <td>Total Price</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Lines)
                {
                    <tr>
                        <td>@item.Product.ProductName</td>
                        <td>@(item.Product.UnitPrice.ToString())</td>
                        <td>@item.quantity</td>
                        <td>@((item.quantity*item.Product.UnitPrice).ToString())</td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("productId",item.Product.ProductID)
                                <input type="submit" value="Sil" class="btn btn-danger" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a href="/Product/Index" class="btn btn-primary">Anasayfa</a>
            <a href="/Cart/Checkout" class="btn btn-primary">Ödeme Adımı</a>
            
        </p>
    </div>
</div>

